.container {
  width: 710px;
}

body {
  background: #cff;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1.1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap; 
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer 

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}
*/

/* FOOTER */
#footer { min-height: 65px; _height: 65px; background: #fff url(/static/images/skinny_dots.gif) repeat-x; clear: both; margin: 15px 0 0 0; }
#footer #copyright { float: right; font-size: 11px; text-align: center; margin: 14px 7px; padding:2px 0 3px 23px; background:transparent url(/static/images/gray_logo.gif) no-repeat; color: #888; *padding-top: 1px; *margin-top: 15px;}
.footer-col { float: left; max-width: 200px; margin: 15px 20px 20px 20px;}
.footer-col p { margin: 0;}
.footer-col ul { margin:0; padding: 0;}
.footer-col ul li { list-style: none; font-size: 11px; margin: 2px 5px; padding: 0; }
.footer-col ul li.header { font-weight: bold; margin: 2px 0; color: #787878; }
.footer-col ul li a, div.footer-col ul li.header {  }
.footer-col p, div.footer-col a { font-size: 11px; }
.footer-col a { text-decoration: none; color: #838383; }
#footer .footer-col a:hover { text-decoration: underline;}

#shared-folder-actions input { width: 210px; margin: 0 0 5px 0;}
.show-me { display: none; margin: 0 0 10px 0; display: block;}
.hide-me { display: block;}
.link-img {vertical-align: middle; background: #fff; margin: -2px 0 0 0; padding-right: 4px; background-repeat: no-repeat; }
#left-content .link-img { background-color: #e9f4ff; }

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

#stop-acting { float: right; margin-right: 15px;}

#actor_spacer { 
    height: 40px;
}
#top_notifier {
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    background: #E9F4FF;
    border-bottom: 1px solid #ace;
    text-align: center;
    font-size: 12px;
    color: #000;
    z-index: 1;

}
#top_notifier span {
    font-weight: bold;
}
#top_notifier a {
    color: #1f45cc;
}

.boxbutton {
    position: relative;
    display: inline-block;
    padding-left: 110px;
    padding-right: 10px;
}
.boxbutton:hover {
    text-decoration: none;
}
.boxbutton .boxbutton_l {
    position: absolute;
    left: 0;
    top: -11px;
}
.boxbutton .boxbutton_r {
    position: absolute;
    right: 0;
}
.boxbutton .boxbutton-content {
    border-collapse: collapse;
    border: 0;
    margin: 0;
    padding: 0;
}
.boxbutton .boxbutton-content td {
    background: transparent url(/static/images/boxbutton_bg.png) repeat-x;
    height: 84px;
    margin-top: 3px;
    margin-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 -1px #16588d;
    text-align: center; 
    line-height: 1.3em;
}
a.boxbutton:hover { text-decoration: none; }

div#home-login { position: absolute; top: 20px; right: 20px; }
div#home-login .button { /*background: #5096c8;*/  border: 0; border-right: 1px solid #19589d; border-bottom: 1px solid #19589d; font-size: 11px; padding: 1px 4px;}  
div#home-login label { font-size: 11px; }
div#home-login input { max-width: 125px;}

#landing-page { background: url(/static/images/landingpageboxbig.png) top center no-repeat; width: 600px; min-height: 569px; _height: 569px; margin: 0 auto 0 auto; text-align:center;}
#landing-page #logo-container { padding-top: 55px; }
#landing-page #tagline { font-family: 'Lucida Grande', Lucida Grande; width: 510px; height: 24px; margin: 20px auto 20px auto; padding: 0; text-indent: -100000px; background: transparent url(/static/images/tagline_home2.gif) no-repeat;}
#landing-page #download-container p { margin: 0 auto 9px 0; }
#landing-page #visit_tour { margin-top: 60px; }

.blank { color: #000; }
.blank:hover { background: #fff; text-decoration: none;}

.no-border { border: 0; }

.packrat-button, .button, .editor_ok_link, .abutton
{
    background-color: #348dd3;
    border-color: #a3c8e9 #4379c0 #4379c0 #a3c8e9;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    margin: 0;
    padding: 2px 7px;
}

.abutton { padding: 2px 3px; font-size: 11px;  }
.abutton:hover { text-decoration: none; }

a.packrat-button { padding: 3px 5px; display: inline-block; margin-bottom: 0.25em; }
a.packrat-button:hover {text-decoration: none; }
.grayed
{ 
    background-color: #eee;
    border-color: #e5e5e5 #aaa #aaa #e5e5e5;
    border-style: solid;
    border-width: 1px;
    color: #666;
}
.gray { color: #888; }

.dothr { background: url(/static/images/dots.gif) repeat-x center; height: 1em; overflow-y: hidden; margin:1em 0; }
.note { color: #222; margin-top: 2px; font-size: 8pt; line-height: 150%; }
.note div { display: inline; }

.revision-note { color: #888; margin-top: 2px; font-size: 8pt; line-height: 250%; }
.smidgenright { margin-left: 8px; }
a:hover { text-decoration: underline; }

.fieldset {  border:1px dotted #ccc; _border: 1px solid #e3e3e3; margin-bottom: 1em; padding: 15px; font-size: 8pt;}
.fieldset p{ margin: 0 0 0.75em 0; }
legend {margin-top: -2em; font-size: 12px; font-weight: bold;}

#flash-container { }
#flash, .flash {border: 1px solid #F0DE26; margin: 0 0 5px 0; background-color: #fffcc9; padding: 7px; font-size: 11.5px; }
.flash { margin-bottom: 10px; }
#flash.fail, .flash.fail { background: #fdd; border: 1px solid #e66; }
#flash.okay, .flash.okay { background:#e5fdd0; border:1px solid #9dd07b; }

div.notice {  }
div.notice p { margin: 0 0 5px 10px; padding: 7px; }
div.notice span { color: #222; }

div#notice-container { margin: 0 10px; }
div#link-notice p  { background: #f4faff; border: 1px solid #ace; }
div#referral-notice p { background:#e5fdd0; border:1px solid #9dd07b; }
#inline-upload-status { margin-bottom: 2em; }
.loginbox
{
    padding: 0 0 0 0;
    display: inline;
    float: right;
    font-size: 8pt;
    text-align: right;
    margin: -20px 0 0 0;
}

.smallinput
{
    font-size: 8pt;
    height: 13px;
    padding-top: 1px;
}
#cli-contacting {
    color: #1f75cc;
    display: inline;
    font-size: 24px;
    vertical-align: bottom;
}
.littlelink { font-weight: normal; font-size: 8pt; }
.littlelink a { text-decoration: underline; }

.lined thead
{
    font-weight: bold;
}
.lined th
{
    margin: 0;
    color: #888;
    padding: 8px;
    background: url(/static/images/dots.gif) bottom repeat-x; 
}
.lined td
{
    padding: 8px;
    background: url(/static/images/skinny_dots.gif) repeat-x bottom;
}


h1,h2,h3,h4,h5 { color: #222;}

h2
{
    padding-top: 3px;
    background: url(/static/images/dots.gif) repeat-x bottom;
    padding-bottom: 10px;
    margin-bottom: 4px;
    font-size: 10pt;
}

h3
{
    padding: 0;
    margin: 0;
    font-size: 10pt;
}

h4 { margin: 0 0 0.5em 0; font-weight: bold; font-size: 14px;}

h5 { margin: 0 0 0.5em 0; font-weight: bold; font-size: 12px;}
#modal-content h5 { font-size: 11px; }

#floaters .bubble { width: 250px; }

h1
{ 
  font-size: 18pt;
  font-weight: normal;
  margin: 10px 0;
}
   
#topnav
{
    margin: 0;
    padding: 0;
    margin-top: 18px;
    display: inline;
    float: right;
}
#topnav ul
{
    display: inline;
    font-size: 8pt;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
#topnav li
{
display: inline;
}
#topnav li a
{
    padding: 8px;
    margin: 3px;
    display: block;
    float: left;
    overflow: visible;
    text-decoration: none;
}


#topnav li a:hover
{
    text-decoration: underline;
}
#top-comment
{
    color: #888;
    margin-top: 40px;
    float: right;
    font-weight: bold;
}
#footer { padding: 0; margin: 0;  padding-bottom: 40px; }
#footer a { color: #777; }

div#feedback textarea
{
    width: 98%;
    height: 12em;
    margin: 6px 0;
    overflow: auto;
}
div#feedback input[type=text] {
    margin: 6px 0;
}

.filebrowser
{
	font-size: 8pt;
}

.deleted_file_line
{
    color: #999;
}

.deleted_file_line a
{
        color: #999;
        text-decoration: none;
}

.deleted_file_line a:hover
{
        color: #0078cc;
}

        
.empty
{
    padding: 20px;
    color: #ccc;
    font-style: italic;
}

.empty.darker
{ 
    color: #aaa;
}

#dropdown { position:absolute; left: 0px; top: 0px; margin:0;padding:0; }
#show-more-dropdown { top: -30px; }
UL.dropdown, UL.dropdown li, UL.dropdown a, UL.dropdown div
{
    margin: 0;
    padding: 0;
}
UL.dropdown
{
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #0078cc;
}
UL.dropdown-lite
{
  border: 1px solid #7ad;
  border-top: none;
  background-color: #f4faff;

}

UL.dropdown li
{
    border: none;
    position: relative;
}
UL.dropdown a
{
    padding: 6px 4px;
    height: 16px;
    line-height: 16px;
    border: 0;
    display: block !important;
    _display: inline-block;
    white-space:nowrap;
    padding-right: 13px;
}
.noblock
{ 
    display: inline;
}

.dropdown a:hover img
{
    background-color: #f4faff;
}

.dropdown-lite a:hover, .dropdown-lite a:hover img
{
  background-color: #348dd3;
  color: #fff;
  text-decoration: none;
}

a.dropdown_arrow
{
    background: url("/static/images/downtick.gif") 0 3px no-repeat;
    margin: 0; padding: 0;
    width: 12px;
    height: 12px;    
}

a.dropdown_arrow:hover
{
    background-image: url("/static/images/downtick-hover.gif");
    text-decoration: none;
}

.persistent-error-message, .error-message
{
    color: #b00;
    font-size: 10px;
}

.slide
{
    display: none;
}

#slideshow
{
    width: 760px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#slideshow-frame
{
    width: 760px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
}

#num_panel
{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 235px;
    left: 510px;
    z-index: 100;
}

#num_panel li
{
    display: inline;
}

.slide_buffer
{
   position: absolute;
   left: 0px;
   top: 0px;
}

.slide_buffer h2 { display: none }
.slide_buffer img
{
    padding: 2px;
    border: 1px solid #ccc;
}
.slide_buffer p 
{
  width: 250px;
  margin: 0px;
  margin-top: -155px;
  margin-left: 510px;
  padding: 0;
}
.slide_buffer span { font-size: 24px;}

.slide_num
{
   width: 24px;
   height: 24px;
   color: #fff;
   font-weight: bold;
   text-align: center;
   padding: 3px 6px 3px 6px;
   margin-left: 2px;
   margin-right: 10px;
   cursor: pointer;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

