<!-- Footer -->
    <div id="footer" class ="round">
        <div style="margin: 0 auto">

            <p id="copyright">
                 &copy; 2010 Curious<br/>
            </p>
            <div class="footer-col">
                <ul>
                    <li class="header">Curious</li>
                    <li><a href="/">Home</a></li>

                    <li><a href="/install">Install</a></li>
                    <li><a href="/anywhere">Mobile</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/tour">Tour</a></li>
                </ul>

            </div>
            <div class="footer-col">
                <ul>
                    <li class="header">Community</li>
                    <li><a href="/referrals" onmouseup="javascript: MCLog.log('referrals_via_footer');">Referrals</a></li>
                    <li><a href="http://twitter.com/dropbox" target="_blank">Twitter</a></li>
                    <li><a href="http://facebook.com/Dropbox" target="_blank">Facebook</a></li>

                    <li><a href="http://wiki.dropbox.com/">Wiki</a></li>
                    <li><a href="/developers">Developers</a></li>
                    <li><a href="/anywhere/apps">Partners</a></li>

            </ul>
            </div>
            <div class="footer-col">
                <ul>

                    <li class="header">Support</li>
                    <li><a href="/help">Help Center</a></li>
                    <li><a href="http://forums.dropbox.com/">Forums</a></li>
                    <li><a href="/votebox">Votebox</a></li>
                    <li><a href="#" onclick="return Home.showFeedback();">Feedback</a></li>
                    <li><a href="/contact">Contact Us</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li class="header">About Us</li>
                    <li><a href="http://blog.dropbox.com/">Curious Blog</a></li>
                    <li><a href="/about">Our Team</a></li>

                    <li><a href="/press">Press</a></li>
                    <li><a href="/terms">Policies</a></li>
                    <li><a href="http://www.dropbox.com/jobs">Jobs</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

<!--
<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>
-->
